torch==2.7.0
torchvision==0.22.0
xformers==0.0.30
diffusers==0.37.1
transformers==5.3.0
accelerate==1.13.0
peft==0.19.0
opencv-python-headless==4.9.0.80
scikit-image==0.23.2
Pillow==11.1.0
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
scikit-learn==1.5.2
matplotlib==3.8.2
regex==2024.11.6
ftfy==6.2.3
tqdm==4.67.3
requests==2.32.5
gdown
opendatasets
uv
rich[jupyter]==13.9.4
wandb==0.16.3
safetensors==0.7.0
